* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  font-size: 15px;
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

body.dark {
  background-color: #212121;
  color: #ffffff;
}

b {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
  font-weight: 400;

  text-rendering: optimizeLegibility;
}

h1 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 45px;
  line-height: 64px;
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  letter-spacing: 0.005em;
  font-weight: 500;
  font-size: 20px;
}

h5 {
  letter-spacing: 0.010em;
  font-size: 16px;
  line-height: 24px;
}

h6 {
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.020em;
  font-size: 14px;
}

.dark h1, .dark h6 {
  color: #ffffff;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #3E50B4;
  font-weight: inherit;
}

.dark a, .dark a:visited, .dark a:hover, .dark a:focus,  .dark a:active {
  color: #2f46c6;
}

button {
  font-family: 'Roboto', 'sans-serif';
}

header {
  position: fixed !important;
  top: 0;
  right: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  height: 48px;
  background-color: #3E50B4;
  color: #ffffff;
}

header > p {
  margin: auto 1em;
  letter-spacing: 0.005em;
  font-weight: 500;
  font-size: 20px;

  flex: 1;
  text-rendering: optimizeLegibility;
}

header .actions {
  display: flex;
}

.icon-invert.icon-invert {
  color: #ffffff;
}

.icon-invert.icon-invert:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.icon-normal.icon-normal {
  color: rgba(0, 0, 0, 0.54);
}

.dark .icon-normal.icon-normal {
  color: #ffffff;
}

#active-users {
  margin: auto;
  min-width: 48px;
  text-align: center;
  font-size: 16px;
}

.dropdown {
  position: relative;
  overflow: visible;
  margin: 0;
  width: 48px;
  height: 48px;
}

.dropdown .toggle {
  padding: 12px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.dark .dropdown .toggle {
  /* necessary to be "more specific" than the dark dropdown button styles */
  background-color: rgba(0, 0, 0, 0);
}

.dropdown .toggle:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.dark .dropdown .toggle:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.dropdown .menu {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
  margin-top: 8px;
  margin-right: 8px;
  min-width: 168px;
  outline: none;
  border-radius: 2px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transform: scale(0);
  transform-origin: 100% 0%;
}

.dropdown.active .menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.dropdown button {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  height: 48px;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  font-size: 16px;
}

.dropdown button.material-icons {
  font-size: 24px;
}

.dark .dropdown button {
  background-color: #424242;
  color: #ffffff;
}

.dropdown button:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.dropdown button:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.dropdown button:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.dark .dropdown button:hover {
  background-color: #525252;
}

.dropdown button:active {
  background-color: #dddddd;
}

.dark .dropdown button:active {
  background-color: #616161;
}

#message-list {
  margin: 56px auto 158px;
  padding: 0;
  min-width: 640px;
  width: 1400px;
  border-radius: 2px;
  list-style-type: none;
}

#message-list li {
  display: flex;
  padding: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
  font-size: 20px;
}

.dark #message-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  background-color: #303030;
}

#message-list li:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#message-list li:first-child .video-container {
  overflow: hidden;
  border-top-left-radius: 2px;
}

#message-list li:last-child {
  overflow: hidden;
  border-bottom: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#message-list li:last-child .video-container {
  overflow: hidden;
  margin-bottom: 0;
  border-bottom-left-radius: 2px;
}

#message-list li .video-container {
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
  width: 200px;
  height: 150px;

  flex-shrink: 0;
}

.empty-view {
  display: none;
}

.no-messages .empty-view {
  display: block;
  margin: 0px auto;
  padding-right: 16px;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  font-size: 34px;
}

.dark.no-messages .empty-view {
  color: rgba(255, 255, 255, 0.7);
}

.video-container .filmstrip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 1000%;

  backface-visibility: hidden;
}

.displayed .video-container .filmstrip {
  display: block;
  transform: translateZ(0);
  animation: filmstrip 0.92s infinite;
}

.backgrounded .displayed .video-container .filmstrip {
  display: none;
  animation: none;
}

.video-container .save, .video-container .save:focus {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: block;
  visibility: hidden;
  padding: 4px 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  background-color: #3E50B4;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s, background-color 0.4s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.video-container:hover .save {
  visibility: visible;
  opacity: 0.95;
}

.save:hover {
  background-color: #3E50B4;
  cursor: pointer;
}

.save:active {
  background-color: #3E50B4;
}

.save[disabled] {
  background-color: #505575;
}

#message-list li p {
  overflow: hidden;
  padding: 8px;
  word-wrap: break-word;

  flex: 1 1;
  overflow-wrap: break-word;
}

#message-list li .message-meta {
  display: flex;
  flex-direction: column;
  padding: 0 0 4px;

  flex-shrink: 0;
  align-items: flex-end;
  justify-content: space-between;
}

.message-overflow {
  display: inline-block;
}

.message-meta .dropdown {
  /* compensate for the icon being higher and not looking like it occupies the lower space */
  margin-bottom: -24px;
}

.dropdown .toggle.message-overflow {
  padding: 0;
}

.dropdown .toggle.message-overflow:hover {
  background-color: transparent;
}

.dropdown .toggle.message-overflow:active {
  background-color: transparent;
}

.message-overflow > .icon {
  margin-bottom: 8px;
  margin-left: 24px;
}

.message-overflow:hover {
  cursor: pointer;
}

.message-overflow:disabled:hover {
  cursor: default;
}

.message-overflow:hover .icon, .message-overflow:active .icon {
  color: rgba(0, 0, 0, 0.87);
}

.message-overflow:disabled:disabled .icon {
  color: rgba(0, 0, 0, 0.38);
}

.dark .message-overflow:hover .icon, .dark .message-overflow:active .icon {
  color: rgba(255, 255, 255, 0.7);
}

.dark .message-overflow:disabled:disabled .icon {
  color: rgba(255, 255, 255, 0.3);
}

.identicon {
  margin: 1px 8px 1px 2px;
  padding: 3px;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

.dark .identicon {
  border-color: rgba(255, 255, 255, 0.12);
}

.identicon .block {
  display: inline-block;
  float: left;
  width: 20%;
  height: 20%;
}

.message-meta time {
  margin-right: 8px;
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}

.dark .message-meta time {
  color: rgba(255, 255, 255, 0.7)
}

footer {
  position: fixed;
  right: 0px;
  bottom: 4px;
  left: 0px;
  display: flex;
  margin: auto;
  padding: 0;
  width: 1400px;
}

footer .progress {
  position: absolute;
}

.preview-container {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 150px;
  background: #000000;

  flex-shrink: 0;
}

.preview-container video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preview-container .switch-camera, .preview-container .switch-camera:focus {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: block;
  visibility: hidden;
  /* vertical differences here account for weirdness in this particular icon's spacing */
  padding: 6px 8px 2px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  background-color: #3E50B4;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s, background-color 0.4s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.preview-container:hover .switch-camera {
  visibility: visible;
  opacity: 0.95;
}

.switch-camera:hover {
  background-color: #374fd4;
  cursor: pointer;
}

.switch-camera:active {
  background-color: #374fd4;
}

.camera-disabled-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: #ffffff;
  text-align: center;

  justify-content: center;
  align-items: center;
}

.camera-disabled-icon {
  margin-bottom: 8px;
  font-size: 48px;
}

.camera-disabled-text {
  font-size: 20px;
}

.camera-enabled .camera-disabled-message {
  display: none;
}

form {
  display: flex;
  overflow: hidden;
  margin: 0 8px;
  border-radius: 2px;
  background-color: #fafafa;

  align-self: flex-end;
  flex: 1;
}

.dark form {
  background-color: #303030;
}

#message {
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  padding: 4px 2px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  background: #fafafa;
  color: #212121;
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  transition: border-color .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);

  flex: 1;
}

.dark #message {
  border-color: rgba(255, 255, 255, 0.12);
  background: #303030;
  color: #ffffff;
}

#message:hover {
  border-color: rgba(0, 0, 0, 0.54);
}

.dark #message:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

#message:active:active, #message:focus:focus {
  padding: 4px 2px 3px 2px; /* account for extra border size */
  border-width: 2px;
  border-color: #3E50B4;
}

#message.full:active:active, body #message.full:focus:focus {
  border-color: #374fd4;
}

/* lol css gods look at me now */
#message[readonly][readonly][readonly] {
  border-color: #505575;
}

#message[readonly] {
  color: rgba(0, 0, 0, 0.38);
}

.dark #message[readonly] {
  color: rgba(255, 255, 255, 0.3);
}

#char-counter {
  visibility: hidden;
  overflow: hidden;
  margin: auto;
  padding: 0px 8px;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: visiblity .3s, opacity .3s, color .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.dark #char-counter {
  color: rgba(255, 255, 255, 0.7);
}

#char-counter.full {
  color: #F44336;
}

.dark #char-counter.full {
  color: #C62828;
}

#message:active + #char-counter, #message:focus + #char-counter {
  visibility: visible;
  opacity: 1;
}

#send {
  margin: 0 0 0 4px;
  padding-right: 16px;
  padding-left: 16px;
  border: 0;
  /* match the form's border radius on the outer corners */
  border-radius: 0 2px 2px 0;
  background-color: #3E50B4;
}

#send:hover {
  background-color: #425CEF;
  cursor: pointer;
}

#send:active {
  background-color: #425CEF;
}

#send:disabled:disabled {
  background-color: #505575;
  cursor: default;
}

.progress {
  display: block;
  visibility: hidden;
  margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  transition: visibility .3s, opacity .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  pointer-events: none;
}

.progress.visible {
  visibility: visible;
  opacity: 1;
}

.progress .circle .mask, .progress .circle .fill {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.progress .circle .mask, .progress .circle .fill {
  transition: transform .3s;

  backface-visibility: hidden;
}

.progress .circle .mask {
  clip: rect(0px, 48px, 48px, 24px);
}

.progress .circle .mask .fill {
  clip: rect(0px, 24px, 48px, 0px);
  background-color: #3E50B4;
}

.progress .inset {
  position: absolute;
  display: flex;
  margin-top: 6px;
  margin-left: 6px; /* (circle size - inset size) / 2 */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fafafa;

  justify-content: center;
  align-items: center;
}

.dark .progress .inset {
  background-color: #303030;
}

.progress .text {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
}

.dark .progress .text {
  color: #ffffff;
}

.dialog-scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.40);
  opacity: 1;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 300ms;
}

.dialog-scrim.entering, .dialog-scrim.leaving {
  opacity: 0;
}

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: center;
  align-items: center;
}

.dialog {
  overflow-y: auto;
  padding: 24px;
  max-height: 80vh;
  width: 672px;
  height: auto;
  background-color: #fafafa;
  transition: transform cubic-bezier(0, 0, .2, 1) 400ms;
  transform: translateY(0);
}

.dialog.entering {
  transform: translateY(100vh);
}

.dialog.will-leave {
  transition: all cubic-bezier(.4, 0, 1, 1) 400ms;
}

.dialog.leaving {
  transform: translateY(-100vh);
}

.dark .dialog {
  background-color: #424242;
}

.dialog > h2:first-child {
  display: inline-block;
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 0;
}

.dialog > h2 + .secondary {
  display: inline-block;
}

.dialog ul {
  margin-left: 20px;
}

.dialog li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
}

.dark .secondary {
  color: rgba(255, 255, 255, 0.70);
}

.flex-grow {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  flex: 1;
}

.shadow-1 {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),
      0 2px 2px 0 rgba(0,0,0,.098),
      0 1px 5px 0 rgba(0,0,0,.084);
}

.shadow-2 {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),
      0 4px 5px 0 rgba(0,0,0,.098),
      0 1px 10px 0 rgba(0,0,0,.084);
}

.shadow-5 {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.14),
      0 16px 24px 2px rgba(0,0,0,.098),
      0 6px 30px 5px rgba(0,0,0,.084);
}

@media (max-width: 2000px) {
  #message-list {
    width: 70%;
  }

  footer {
    width: 70%;
  }
}

@media (max-width: 1460px) {
  #message-list {
    width: 80%;
  }

  footer {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  #message-list {
    width: 892px;
  }

  footer {
    width: 892px;
  }
}

@media (max-width: 920px) {
  #message-list {
    width: auto;
  }

  footer {
    width: auto;
  }

  .dialog {
    max-width: 90vw;
    width: 480px;
  }
}

@media screen and (max-device-width: 500px) {
  #message-list {
    margin-bottom: 110px;
    min-width: 0px;
  }

  #message-list li {
    font-size: 14px;
  }

  #message-list li .video-container {
    width: 136px;
    height: 102px;
  }

  .no-messages .empty-view {
    font-size: 24px;
  }

  .preview-container {
    width: 136px;
    height: 102px;
  }

  .camera-disabled-icon {
    margin-bottom: 4px;
  }

  .camera-disabled-text {
    font-size: 15px;
  }

  .message-meta time {
    font-size: 12px;
  }

  .identicon {
    width: 28px;
    height: 28px;
  }

  #char-counter {
    display: none;
  }

  #message {
    margin-right: 2px;
  }
}

@keyframes filmstrip {
  0% {
    transform: translateY(0);
    animation-timing-function: steps(1);
  }
  10% {
    transform: translateY(-10%);
    animation-timing-function: steps(1);
  }
  20% {
    transform: translateY(-20%);
    animation-timing-function: steps(1);
  }
  30% {
    transform: translateY(-30%);
    animation-timing-function: steps(1);
  }
  40% {
    transform: translateY(-40%);
    animation-timing-function: steps(1);
  }
  50% {
    transform: translateY(-50%);
    animation-timing-function: steps(1);
  }
  60% {
    transform: translateY(-60%);
    animation-timing-function: steps(1);
  }
  70% {
    transform: translateY(-70%);
    animation-timing-function: steps(1);
  }
  80% {
    transform: translateY(-80%);
    animation-timing-function: steps(1);
  }
  90% {
    transform: translateY(-90%);
    animation-timing-function: steps(1);
  }
}
